:root {
  // назви секцій
  --title-section-color: #d41443;
  --pretitle-section-color: #ffa5ba;

  //   основний колік кнопок
  git: #d41443;

  //   змінні для секції продукцій
  --products-title-color: #ffffff;
  --products-text-color: #ffffff;
  // how it’s made? змінні
  --made-first-text-color: #000000;
  --made-second-text-color: #907e82;
  // advantages змінні
  --advantages-title-color: #d41443;
  --advantages-text-color: #000000;
  //   віклики користувачів
  --customer--text-color: #000000;
  //   змінні контактів
  --contacts--title-color: #000000;
  --contacts--text-color: #907e82;
  --contacts--time-color: ;
}
