<section class="about" id="about">
    <div class="container">
        <p class="about__label">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="wrapper">
            <picture>
                <source srcset="./images/cow-mob.png 1x, ./images/cow-mob-2x.png 2x" media="(max-width: 767px)">
                <source srcset="./images/cow-tab.png 1x, ./images/cow-tab-2x.png 2x" media="(max-width: 1279px)">
                <source srcset="./images/cow-desc.png 1x, ./images/cow-desc-2x.png 2x" media="(max-width: 1600px)">
                <img class="about__img" src="./images/cow-mob.png" alt="Кувшин с молоком и корова">
            </picture>
            <div class="wrapper__left">
                <ul class="about__text offds">
                    <li>
                        <p class="about__text--black">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                    </li>
                    <li >
                        <p class="about__text--gray">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p><br>
                        <p class="about__text--gray">Aliquam erat volutpat. Aenean accumsan.</p>
                    </li>
                </ul>
                <button class="about__btn" type="button">
                    Read more
                    <svg class="btn__icon" width="5" height="8">
                        <use href="./images/symbol-defs.svg#icon-arrow-about"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="backdrop is-hidden">
        <div class="modal">
            <p class="">
            Ingredients: <br>
160 ml of milk;<br>
3 egg yolks;<br>
150 g sugar;<br>
500 g whipping cream;<br>
some vanilla extract. <br><br>

Preparation <br>
Heat milk over moderate heat, but do not boil. Whisk the egg yolks and sugar separately. While whisking, pour in the hot milk in a thin stream. The sugar should be completely dissolved. <br>

Pour the mixture into a saucepan and, stirring constantly with a spatula, bring until lightly thickened over medium heat. Do not boil the mixture or overheat it. Run your finger over the shoulder blade: if a clear groove remains, remove the pan from heat. <br>

Place the pot in a container of ice water and, stirring constantly, cool to room temperature. Beat the cold cream with a mixer until creamy. <br>

Pour the milk and egg mixture into the cream through a sieve. Add vanilla extract and stir until smooth. Put the mixture in a wide dish, cover with a lid or plastic wrap and put in the freezer for 3-4 hours. Stir the mixture about every hour until smooth. <br>
            </p>
            <button type="button" class="btn--close">Close</button>           
        </div>
    </div>
</section>
