<section class="about" id="about">
  <div class="container">
    <p class="about__label element-animation">tradition and love</p>
    <h2 class="about__title element-animation">how it’s made?</h2>
    <div class="wrapper">
      <picture>
        <source
          srcset="./images/cow-mob.png 1x, ./images/cow-mob-2x.png 2x"
          media="(max-width: 767px)"
        />
        <source
          srcset="./images/cow-tab.png 1x, ./images/cow-tab-2x.png 2x"
          media="(max-width: 1279px)"
        />
        <source
          srcset="./images/cow-desc.png 1x, ./images/cow-desc-2x.png 2x"
          media="(max-width: 1600px)"
        />
        <img class="about__img" src="./images/cow-mob.png" alt="Кувшин с молоком и корова" />
      </picture>
      <div class="wrapper__left">
        <ul class="about__text offds">
          <li>
            <p class="about__text--black">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
              faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
            </p>
          </li>
          <li>
            <p class="about__text--gray">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
              orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a
              feugiat urna maximus. Cras massa nibh, tincidunt.
            </p>
            <br />
            <p class="about__text--gray">Aliquam erat volutpat. Aenean accumsan.</p>
          </li>
        </ul>
        <button class="about__btn" type="button">
          Read more
          <svg class="btn__icon" width="5" height="8">
            <use href="./images/symbol-defs.svg#icon-arrow-about"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
