<section class="about">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <img class="about__img" src="" alt="">
    <ul class="about__text">
        <li>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</li>
        <li>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.</li>
    </ul>
    <button class="about__btn" type="button">Read more</button>
</section>