<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list offds">
      <li class="advantages__item">
        <span class="advantages__item-title element-animation"> 721 </span>
        <p class="advantages__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__item-title element-animation"> 16kg </span>
        <p class="advantages__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__item-title element-animation"> 84 </span>
        <p class="advantages__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
