<section class="contacts-section">

    <div class="container">

        <h2 class="contacts-section__title contacts-section__title--visually-hidden">You can find us</h2>

        <ul class="contacts-section__list">
            
            <li class="item-card contacts-section__item-card">
                <p class="item-card__title">CAFE</p>

                <div class="thumb-locally">
                    <h3 class="thumb-locally__title">Chicago</h3>
                    <p class="thumb-locally__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <div class="thumb-work-time">
                    <time class="thumb-work-time__title">Monday - Friday</time>
                    <time class="thumb-work-time__text">06:00 AM - 10:00 PM</time>
                    <time class="thumb-work-time__title">Saturday - Sunday</time>
                    <time class="thumb-work-time__text">08:00 AM - 16:00 PM</time>
                </div>

                <address class="card-address">
                    <a class="card-address__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    <a class="card-address__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                </address>
            </li>

            <li class="item-card contacts-section__item-card">
                <p class="item-card__title">FOODTRUCK</p>

                <div class="thumb-locally">
                    <h3 class="thumb-locally__title">Los Angeles</h3>
                    <p class="thumb-locally__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <div class="thumb-work-time">
                    <time class="thumb-work-time__title"></time>
                    <time class="thumb-work-time__text"></time>
                </div>
                
                <address class="card-address">
                    <a class="card-address__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    <a class="card-address__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                </address>
            </li>

            <li class="item-card contacts-section__item-card">
                <p class="item-card__title">CAFE</p>

                <div class="thumb-locally">
                    <h3 class="thumb-locally__title">New York</h3>
                    <p class="thumb-locally__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <div class="thumb-work-time">
                    <time class="thumb-work-time__title"></time>
                    <time class="thumb-work-time__text"></time>
                </div>
                
                <address class="card-address">
                    <a class="card-address__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    <a class="card-address__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                </address>
            </li>

        </ul>

    </div>

</section>
