<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer-reviews</h2>

    <ul class="slider list">
      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              src="images/customer-reviews/0111.jpg"
              alt="Vladislav Pavlik"
            />
          </div>
          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                The project was completed in full and on time because - "Great people do nothing
                halfway and "a little later"".
              </p>
            </div>
          </div>
          <h3 class="review__title">Vladislav Pavlik, team leader</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/vladimirsewer_85x85.jpg   1x,
                ./images/customer-reviews/vladimirsewer_170x170.jpg 2x
              "
              src="images/customer-reviews/vladimirsewer_85x85.jpg"
              alt="Vladimir Sewer"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                I was doing a "head" section. It was very interesting and creative job for me. I get
                enjoyable emotions when my task is done and I see result! Our team is the best! Good
                luck everybody!
              </p>
            </div>
          </div>
          <h3 class="review__title">Vladimir Sewer</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/Kashirin-85_85.jpg   1x,
                ./images/customer-reviews/Kashirin-170_170.jpg 2x
              "
              src="images/customer-reviews/Kashirin-85_85.jpg"
              alt="Aleksandr Kashirin"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                In this project I worked with section "Hero". I got a lot of positive emotions and
                new experience. During the team work we achieved great result. We all do well and
                move forward.
              </p>
            </div>
          </div>
          <h3 class="review__title">Aleksandr Kashirin</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/Kraynya_Julya_85.jpg  1x,
                ./images/customer-reviews/Kraynya_Julya_170.jpg 2x
              "
              src="images/customer-reviews/Kraynya_Julya_85.jpg"
              alt="Julya Kraynya"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                I did the "Products" section. The work was interesting, I learned a lot of
                information about the production of ice cream.
              </p>
            </div>
          </div>
          <h3 class="review__title">Julya Kraynya</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/AnnaNychyk.jpg    1x,
                ./images/customer-reviews/AnnaNychyk-2x.jpg 2x
              "
              src="images/customer-reviews/AnnaNychyk.jpg"
              alt="Anna Nychyk"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                The work on the project is very interesting. I liked the communication with the team
                more. I worked on the About section. There were no major difficulties. Thanks to
                everyone in our team for an interesting experience.
              </p>
            </div>
          </div>
          <h3 class="review__title">Anna Nychyk</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/OlgaMirzoeva_85.jpg  1x,
                ./images/customer-reviews/OlgaMirzoeva_170.jpg 2x
              "
              src="images/customer-reviews/OlgaMirzoeva_85.jpg"
              alt="Olga Mirzoeva"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                I did the section "Reviews". In a team project, I liked communicating with
                like-minded people and moving together towards a common goal. And I think we did a
                good job.
              </p>
            </div>
          </div>
          <h3 class="review__title">Olga Mirzoeva</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/Viacheslav_Diukov_85.jpg  1x,
                ./images/customer-reviews/Viacheslav_Diukov_170.jpg 2x
              "
              src="images/customer-reviews/Viacheslav_Diukov_85.jpg"
              alt="Viacheslav Diukov"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                Made a footer. It was very interesting to do the first team project in my life.
                Team, all great fellows!!! I'm looking forward to the next project! Many thanks to
                everyone!
              </p>
            </div>
          </div>
          <h3 class="review__title">Viacheslav Diukov</h3>
        </article>
      </li>
    </ul>
  </div>
</section>
