<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer-reviews</h2>

    <ul class="slider list">
      <li class="slider__item">
        <article>
          <div class="slider_image">
            <img src="images/customer-reviews/slider_img_01.png" alt="" />
          </div>
          <div class="slider-review">
            <p class="slider-review__text slider-review__text-before">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <h3 class="slider__title">Emily, Los Angeles</h3>
        </article>
      </li>

      <li class="slider__item">
        <article>
          <div class="slider_image">
            <img src="images/customer-reviews/slider_img_02.png" alt="" />
          </div>
          <div class="slider-review">
            <p class="slider-review__text slider-review__text-before">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <h3 class="slider__title">Katy, Los Angeles</h3>
        </article>
      </li>

      <li class="slider__item">
        <article>
          <div class="slider_image">
            <img src="images/customer-reviews/slider_img_03.png" alt="" />
          </div>
          <div class="slider-review">
            <p class="slider-review__text slider-review__text-before">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <h3 class="slider__title">Victory, Los Angeles</h3>
        </article>
      </li>

      <li class="slider__item">
        <article>
          <div class="slider_image">
            <img src="images/customer-reviews/slider_img_01.png" alt="" />
          </div>
          <div class="slider-review">
            <p class="slider-review__text slider-review__text-before">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <h3 class="slider__title">Andry, Los Angeles</h3>
        </article>
      </li>
    </ul>

    <!-- Подключаем jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Подключаем слайдер Slick -->
    <script src="js/slick.min.js"></script>
    <!-- Подключаем файл скриптов -->
    <script src="js/script.js"></script>
  </div>
</section>
