<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer-reviews</h2>

    <ul class="slider list">
      <li class="slider__item">
        <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/Vladislav_Pavlik_85x85.jpg   1x,
                ./images/customer-reviews/Vladislav_Pavlik_170x170.jpg 2x
              "
              src="images/customer-reviews/Vladislav_Pavlik_85x85.jpg"
              alt="Vladislav Pavlik"
            />
          </div>
          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                The project was completed in full and on time because - "Great people do nothing
                halfway and "a little later"".
              </p>
            </div>
          </div>
          <h3 class="review__title">Vladislav Pavlik, team leader</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/Troian_85x85.jpg   1x,
                ./images/customer-reviews/Troian_170x170.jpg 2x
              "
              src="images/customer-reviews/Troian_85x85.jpg"
              alt="Yevhenii Troian"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                On the project, I was a Scrum master. I learned how to interact with the team,
                organize stand-ups, work with Trello and monitor the progress of tasks. I would like
                to thank the team for the interesting experience and new knowledge.
              </p>
            </div>
          </div>
          <h3 class="review__title">Yevhenii Troian, scrum master</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/vladimirsewer_85x85.jpg   1x,
                ./images/customer-reviews/vladimirsewer_170x170.jpg 2x
              "
              src="images/customer-reviews/vladimirsewer_85x85.jpg"
              alt="Vladimir Sewer"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                I was doing a "head" section. It was very interesting and creative job for me. I get
                enjoyable emotions when my task is done and I see result! Our team is the best! Good
                luck everybody!
              </p>
            </div>
          </div>
          <h3 class="review__title">Vladimir Sewer</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/Kashirin_85x85.jpg   1x,
                ./images/customer-reviews/Kashirin_170x170.jpg 2x
              "
              src="images/customer-reviews/Kashirin_85x85.jpg"
              alt="Aleksandr Kashirin"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                In this project I worked with section "Hero". I got a lot of positive emotions and
                new experience. During the team work we achieved great result. We all do well and
                move forward.
              </p>
            </div>
          </div>
          <h3 class="review__title">Aleksandr Kashirin</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/Kraynya_Julya_85x85.jpg   1x,
                ./images/customer-reviews/Kraynya_Julya_170x170.jpg 2x
              "
              src="images/customer-reviews/Kraynya_Julya_85x85.jpg"
              alt="Julya Kraynya"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                I did the "Products" section. The work was interesting, I learned a lot of
                information about the production of ice cream.
              </p>
            </div>
          </div>
          <h3 class="review__title">Julya Kraynya</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/AnnaNychyk_85x85.jpg   1x,
                ./images/customer-reviews/AnnaNychyk_170x170.jpg 2x
              "
              src="images/customer-reviews/AnnaNychyk_85x85.jpg"
              alt="Anna Nychyk"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                The work on the project is very interesting. I liked the communication with the team
                more. I worked on the About section. There were no major difficulties. Thanks to
                everyone in our team for an interesting experience.
              </p>
            </div>
          </div>
          <h3 class="review__title">Anna Nychyk</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/Yurii_Matishchak_85x85.jpg   1x,
                ./images/customer-reviews/Yurii_Matishchak_170x170.jpg 2x
              "
              src="images/customer-reviews/Yurii_Matishchak_85x85.jpg"
              alt="Yurii Matishchak"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                I worked on a team project with a Gallery section. While completing my task, I gained experience working with a team. Thanks to my team for an excellent robot and new knowledge.
              </p>
            </div>
          </div>
          <h3 class="review__title">Yurii Matishchak</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/OlgaMirzoeva_85x85.jpg   1x,
                ./images/customer-reviews/OlgaMirzoeva_170x170.jpg 2x
              "
              src="images/customer-reviews/OlgaMirzoeva_85x85.jpg"
              alt="Olga Mirzoeva"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                I provided the section "Сustomer-reviews". In a team project, I enjoyed
                communicating with like-minded people and moving together towards a common goal. And
                I think we did a good job.
              </p>
            </div>
          </div>
          <h3 class="review__title">Olga Mirzoeva</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/Roman_Nikitchenko_85x85.jpg   1x,
                ./images/customer-reviews/Roman_Nikitchenko_170x170.jpg 2x
              "
              src="images/customer-reviews/Roman_Nikitchenko_85x85.jpg"
              alt="Roman Nikitchenko"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">My “contacts” section was developed based on the potential needs of the ice cream client, so that he could quickly find
              information about the location of the cafe and food track, as well as contact the company if he wants a potential
              partnership.</p>
            </div>
          </div>
          <h3 class="review__title">Roman Nikitchenko</h3>
        </article>
      </li>

      <li class="slider__item">
        <article class="review">
          <div class="review__image-box">
            <img
              class="review__image"
              srcset="
                ./images/customer-reviews/Viacheslav_Diukov_85x85.jpg   1x,
                ./images/customer-reviews/Viacheslav_Diukov_170x170.jpg 2x
              "
              src="images/customer-reviews/Viacheslav_Diukov_85x85.jpg"
              alt="Viacheslav Diukov"
            />
          </div>

          <div class="review__board">
            <div class="review__text-box">
              <p class="review__text">
                Made a footer. It was very interesting to do the first team project in my life.
                Team, all great fellows!!! I'm looking forward to the next project! Many thanks to
                everyone!
              </p>
            </div>
          </div>
          <h3 class="review__title">Viacheslav Diukov</h3>
        </article>
      </li>
    </ul>
  </div>
</section>
