<footer class="footer">
  <div class="footer__container container">
    <div class="footer-title">
      <p class="footer-title__text element-animation">homemade ice cream made</p>
      <p class="footer-title__heading element-animation">with passion</p>
    </div>
    <div class="thumb">
      <div class="footer-social">
        <ul class="footer-social__list offds">
          <li class="footer-social__item offds">
            <a
              href="https://github.com/"
              class="footer-social__link offds"
              target="_blank"
              title="Сайт Github"
            >
              <svg class="footer-social__icon">
                <use href="./images/sprite-social.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item offds">
            <a
              href="https://telegram.org/"
              class="footer-social__link offds"
              target="_blank"
              title="Мессенджер Telegram"
            >
              <svg class="footer-social__icon">
                <use href="./images/sprite-social.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item offds">
            <a
              href="https://www.facebook.com/"
              class="footer-social__link offds"
              target="_blank"
              title="Социальная сеть Facebook"
            >
              <svg class="footer-social__icon">
                <use href="./images/sprite-social.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-contacts">
        <span class="footer-contacts__text">Feel free to contact</span>
        <a class="footer-contacts__tel offds" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="footer-copyright__text">&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
