<section class="hero">
  <div class="hero__container container">
    <div class="hero_elips">
      <picture class="hero_img-icecream animate__animated animate__slow animate__zoomInDown">
        <source
          srcset="
            ./images/hero/hero-icecream-desc-1x.png 1x,
            ./images/hero/hero-icecream-desc-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hero/hero-icecream-tabl-1x.png 1x,
            ./images/hero/hero-icecream-tabl-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero/hero-icecream-mob-1x.png 1x,
            ./images/hero/hero-icecream-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./images/hero/hero-icecream-mob-1x.png" alt="icecream" />
      </picture>
    </div>
    <h1 class="hero__title animate__animated animate__delay-2s animate__heartBeat">
      ice cream made with <span class="hero__title-accent">passion</span>
    </h1>
    <ul class="hero__list-btn">
      <a class="hero__btn-dark offds" href="#products">Products</a>
      <a class="hero__btn-light offds" href="#about">How it’s made?</a>
    </ul>
    <picture class="hero_img-milk">
      <source
        srcset="./images/hero/hero-milk-desc-1x.png 1x, ./images/hero/hero-milk-desc-2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/hero/hero-milk-tabl-1x.png 1x, ./images/hero/hero-milk-tabl-2x.png 2x"
        media="(min-width: 768px)"
      />
      <img src="./images/hero/hero-milk-tabl-1x.png" alt="milk" />
    </picture>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <a class="hero__btn-row" href="">
          <svg class="hero__row-svg">
            <use href="./images/hero/icon.svg#icon-arrow-right"></use>
          </svg>
    </a>
    <ul class="hero__our-network animate__animated animate__delay-3s animate__heartBeat offds">
      <li class="">
        <span>16</span>
        <p>cafes</p>
      </li>
      <li class="">
        <span>23</span>
        <p>food trucks</p>
      </li>
    </ul>
    <picture class="hero_img-stasy">
      <source
        srcset="./images/hero/hero-stasy-desc-1x.png 1x, ./images/hero/hero-stasy-desc-2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/hero/hero-stasy-tabl-1x.png 1x, ./images/hero/hero-stasy-tabl-2x.png 2x"
        media="(min-width: 768px)"
      />
      <img src="./images/hero/hero-stasy-tabl-1x.png" alt="stasy" />
    </picture>
  </div>
</section>
