<section class="products__section">
<div class="container">

<p class="products__pretitle">100% natural</p>
<h2 class="products__title">products</h2>

<ul class="products__list offds">
    <li class="products__item">
        <p class="products__item-title">ice cream</p>
        <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <button type="button" class="products__button">            
        </button>
    </li>
    <li class="products__item">
        <p class="products__item-title">ice cream</p>
        <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
        <button type="button" class="products__button">

        </button>
    </li>
    <li class="products__item">
        <p class="products__item-title">ice cream</p>
        <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
        <button type="button" class="products__button">

        </button>
    </li>
    <li class="products__item">
        <p class="products__item-title">ice cream</p>
        <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
        <button type="button" class="products__button">

        </button>
    </li>
</ul>





</div>
</section>