<section class="products">
    <div class="container test">
   <p class="products__label" for="">100% natural</p>
   <h2 class="products__title">products</h2>
   <ul class="products__cards offds">
       <li class="products__cards-item">
        <p class="products__cards-title">ice cream</p>
        <p class="products__text">Ice cream is an opportunity to make a small dream come true or instantly make a wish come true</p>   
        <button  class="products__button">  
            <svg>
                <use href="./images/products/arrow.png"></use>
            </svg>
        </button>

            </li>
            <li class="products__cards-item second">
                <p class="products__cards2-title">ice cream</p>
                <p class="products__text">Ice cream is an opportunity to make a small dream come true or instantly make a wish come true</p>   
                <button type="button" class="products__button">  
                    <svg>
                        <use href="./images/products/arrow.png"></use>
                    </svg>
                </button>
        
                    </li>
                    <li class="products__cards-item third">
                        <p class="products__cards3-title">ice cream</p>
                        <p class="products__text">Ice cream is an opportunity to make a small dream come true or instantly make a wish come true</p>   
                        <button type="button" class="products__button">  
                            <use>
                                <svg href="./images/products/arrow.png"></svg>
                            </use>       
                        </button>
                
                            </li>
   </ul>
</div>
</section>

