<section class="products" id="products">
  <div class="container test">
    <p class="products__label element-animation" for="">100% natural</p>
    <h2 class="products__title element-animation">products</h2>
    <ul class="products__cards offds">
      <li class="products__cards-item">
        <p class="products__cards-title">ice cream</p>
        <p class="products__text">
          Ice cream is an opportunity to make a small dream come true or instantly make a wish come
          true
        </p>
        <button class="products__button">
          <svg>
            <use href="./images/products/arrow.png"></use>
          </svg>
        </button>
        <div class="products__hover-overlay">
          <p class="products__hover-overlay-text">
            Today, ice cream is prepared as a side dish for the main course, it comes with the taste
            of crabs, cheese, celery, beans, dandelion and even onions. And all the same, creamy ice
            cream remains the most favorite.
          </p>
        </div>
      </li>
      <li class="products__cards-item second">
        <p class="products__cards2-title">ice coffee</p>
        <p class="products__text">
          Cold coffee will give you a real boost of vivacity in hot weather, it will quench your
          thirst.
        </p>
        <button class="products__button">
          <svg>
            <use href="./images/products/arrow.png"></use>
          </svg>
        </button>
        <div class="products__hover-overlay">
          <p class="products__hover-overlay-text">
            Ice coffee - coffee made from natural beans according to a traditional recipe and served
            with ice. Other ingredients are usually added to it, including ice cream, syrups,
            various dressings and spices.
          </p>
        </div>
      </li>
      <li class="products__cards-item third">
        <p class="products__cards3-title">milkshakes</p>
        <p class="products__text">
          Dessert drink based on milk and ice cream, one of the symbols of American cuisine.
        </p>
        <button class="products__button">
          <use>
            <svg href="./images/products/arrow.png"></svg>
          </use>
        </button>
        <div class="products__hover-overlay">
          <p class="products__hover-overlay-text">
            Classic milkshake is a flavored cold drink based on milk and ice cream with a delicate
            creamy taste and airy consistency.Sweet and incredibly tasty, the cocktail perfectly
            refreshes, invigorates and charges with a wonderful mood.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
